#### SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [ ]:
import sqlite3

In [ ]:
# connect to a sqllite database
connection_1 = sqlite3.connect("tables_1.db")
connection_1

In [ ]:
cursor_1 = connection_1.cursor()

In [ ]:
cursor_1.execute('''
    Create Table If Not Exists students(
    enrollement_id Integer Primary Key,
    student_name Text Not Null,
    student_age Integer,
    student_group text)
''')
## Commit the changes
connection_1.commit()

In [ ]:
cursor_1.execute('''
Select * from students
    
''')

In [ ]:
cursor_1.execute("""
Insert into students(enrollement_id,student_name,student_age,student_group)
                 values(1,'Rishi',19,"Dayanand")
""")

cursor_1.execute("""
Insert into students(enrollement_id,student_name,student_age,student_group)
                 values(2,'Sagar',21,"Aurbindo")
""")

cursor_1.execute("""
Insert into students(enrollement_id,student_name,student_age,student_group)
                 values(3,'Sapna',24,"Vivekanand")
""")


# commiting the changes
connection_1.commit()

In [ ]:
cursor_1.execute('''
Select * from students
    
''')

rows = cursor_1.fetchall()

for x in rows:
    print(x)

In [ ]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [ ]:
cursor=connection.cursor()

In [ ]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [ ]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Abhishek',31,'AI Engineer')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

In [ ]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

In [ ]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Abhishek"
''')

connection.commit()

In [ ]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

In [ ]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [ ]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

In [ ]:
## Working with Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [ ]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

In [ ]:
## close the connection
connection.close()

In [ ]:
connection_1.close()

In [ ]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

In [ ]:
# Query data from the students table
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)